<div class="sidenav">
  <a [routerLink]="['.']" fragment="overview">Overview</a>
  <a [routerLink]="['.']" fragment="project">Random Hacks of Kindness Jr.</a>
  <a [routerLink]="['.']" fragment="project2">Girls Who Code</a>
</div>

<div class="container p-3 mt-5 mb-5 bg-white rounded">
  <h1 class="text-center">Our Work</h1>

  <!--Overview section-->
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
Our students and faculty are accomplishing great things. Below, you'll find some of their work and achievements.</p>
    </div>
  </div>
  </div>

  <!--project 1 section-->
  <div class="container p-3  mb-5 bg-white rounded">
  <h2 id="project1" class="text-center">Random Hacks of Kindness Jr.</h2>
  <h4 class="text-center">Girl Scouts guided through hackathon</h4>
  <h6 class="text-center">May 20, 2017</h6>

  <div class="row">
    <div class="col-md-8">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
  <img src="../../assets/images/ourwork/girlscouts.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption">Girl Scouts worked with volunteers to develop apps during the second annual Girl Scouts Hackathon.</figcaption>
</figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>

  <!--project 2 section-->
  <div class="container p-3  mb-5 bg-white rounded">
    <h2 id="project2" class="text-center">Girls Who Code</h2>
    <h4 class="text-center">Closing the gender gap</h4>
    <h6 class="text-center">March 20, 2018</h6>
  <div class="row">
    <div class="col-md-8">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/ourwork/gwc.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Girls Who Code students with facilitator, Qaisha.</figcaption>
    </figure>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>


  <!--End of project sections -->
