<div class="sidenav">
  <a [routerLink]="['.']" fragment="overview">Overview</a>
  <a [routerLink]="['.']" fragment="student1">Sarah Johnson</a>
  <a [routerLink]="['.']" fragment="student2">Tom Hanks</a>
</div>

<ul class="nav nav-tabs container bg-white">
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link" routerLink="/currentstudents">Current Students</a>
  </li>
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link active" routerLink="/alumni">Alumni</a>
  </li>

</ul>
<div id="overview" class="container p-3 mb-5 bg-white rounded">
  <h1 class="text-center">Alumni</h1>

  <!--Overview section-->
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Our Alumni have taken what they have learned through the Software Engineering program into their career paths
         and have shared their many accomplishments and experience after graduation.
      </p>
    </div>
  </div>
</div>
  <!--Student 1 section-->
  <div class="container p-3 mb-5 bg-white rounded">
  <h2 id="student1" class="text-center">Sarah Johnson</h2>
  <h4 class="text-center">Working at Google</h4>
  <div class="row">
    <div class= "mx-auto">
      <p class="lead">
        <strong>Hometown:</strong> Bridgeport, Connecticut
        <br /><strong>Graduation Date:</strong> May 2016
        <br /><strong>Company:</strong> Google
        <br /><strong>Department:</strong> Engineering Department
        <br /><strong>Current Position:</strong> Software Engineer
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
  <img src="../../assets/images/studentspotlight/alumni/sarah.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption">Class of '16, Software Engineering</figcaption>
</figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
During her freshmen year at Quinnipiac, she decited to take an Intro to CS class, just to see what it was like, taking Quinnipiac's CSC110 on campus.
In her words, "Almost immediately, I fell in love—it became my favorite class I’d ever taken, and I started spending a very large percentage of my time programming, watching lectures, etc."
Fast-forward to her senior year, Sarah managed to land a position at Google.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p class="text-center">
        She enjoys her position at Google because they’re making good use of her skillset she states.
        She feels as though she is actually contributing a lot to making decisions about things that do matter for our users in the end;
          as well as making steady forward progress on the smaller things.
Sarah states "I enjoy at Google because it’s fun. I’m working on hard, interesting problems,
 and I’m working with really great people - people who can get the job done, who act rationally,
  who don’t make life difficult when it doesn’t have to be. I enjoy going to work."
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/alumni/google.png" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    </figure>
      </div>
  </div>
</div>
  <!--Student 2 section-->
  <div class="container p-3 mb-5 bg-white rounded">
  <h2 id="student2" class="text-center">Tom Hanks</h2>
  <h4 class="text-center">Working at Cigna</h4>
  <div class="row">
    <div class= "mx-auto">
      <p class="lead">
        <strong>Hometown:</strong> Long Island, New York
        <br /><strong>Graduation Date:</strong> May 2015
        <br /><strong>Company:</strong> Cigna
        <br /><strong>Department:</strong> Software Engineering and Innovation
        <br /><strong>Current Position:</strong> Software Engineer
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/alumni/tom.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Class of 15', Software Engineering</figcaption>
    </figure>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
At Cigna, the customers are at the center of everything that they do. "Every day, we strive to make our customers’ experiences easy, reliable, and personal in ways that are proactive and empathetic," Tom expresses.      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p class="text-center">
      Tom states that he has been provided with excellent opportunities to progress throughout the company and develop my skills since joining Cigna. He states, "There has always been a clear career progression path in front of me within each department, but at the same time there have always been opportunities to move within departments and utilise skills in a new environment if desired.
        My current role offers the chance to liaise with colleagues (both internal and external) throughout the company, which is interesting and allows me to experience new cultures and viewpoints." </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/alumni/cigna.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Cigna employees at their biking event.</figcaption>
    </figure>
      </div>
  </div>
</div>

  <!--End of student sections -->
