<div class="sidenav">
  <a [routerLink]="['.']" fragment="overview">Overview</a>
  <a [routerLink]="['.']" fragment="tatorhall">Tator Hall</a>
  <a [routerLink]="['.']" fragment="cce">Center for Communications & Engineering</a>
</div>

<div id="overview" class="container p-3 mt-5 mb-5 bg-white rounded">
  <h1 class="text-center">Facilities</h1>

  <!--Overview section-->
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Our programs feature active, collaborative classrooms that support multiple teaching and learning styles, and feature the same powerful software and tools used by professionals. In the simply named Laptop Room, CS and software engineering students do more than stare at computer monitors, including bringing robots to life through the use of a neural network.</p>
    </div>
  </div>
</div>
<!--Tator Hall section-->
<div id="tatorhall" class="container p-3 mb-5 bg-white rounded">
  <h2 class="text-center">Tator Hall</h2>
  <carousel>
    <slide>
      <img src="../../assets/images/tatorhall/building.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/tatorhall/hallway.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/tatorhall/th107.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

  <!--Description-->
  <div class="row p-3">
    <div class=" col-md-12">
      <p class="text-center" style="font-size:20px">
        Tator hall holds many of the classrooms used by the Software Engineering, Computer Science,
        and Game Design & Development departments. They are arranged to support collaborative environments
         which is the nature of the Software Engineering and Computer Science courses.
      </p>
    </div>
  </div>

  <!--Cards-->
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/tatorhall/th107.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Tator Hall’s Active Classroom for Engineering offers 12 large, two-person tables for
            collaborative work in conjunction with dynamic lectures.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/tatorhall/computerlab.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Our computer lab allows students to work collaboratively
            on their various software projects with computers equipped with relevant tools.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/tatorhall/community.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Our Community Room is open at all times for everything from studying and group project work to
            gaming in those CS and software engineering programs.</p>
        </div>
      </div>
    </div>

  </div>
  </div>

  <!--CCE section-->
  <div id="tatorhall" class="container p-3 mb-5 bg-white rounded">
  <h2 id="cce" class="text-center">Center for Communications & Engineering</h2>
  <carousel>
    <slide>
      <img src="../../assets/images/cce/ccebuilding3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/cce/ccebuilding2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/cce/cceclass.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

  <!--Description-->
  <div class="row p-3">
    <div class=" col-md-12">
      <p class="text-center" style="font-size:20px">
        The Center of Communications & Engineering building features newly rennovated facilities
        to support our emerging Engineering programs. The different Engineering disciplines share classrooms and labs designed for different course styles.
      </p>
    </div>
  </div>

  <!--Cards-->
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/cce/cceclass2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">The Network Systems and Security Classroom is an interchangable,
            sandbox style space that features five workstations with monitors set to five unique channels.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/cce/cce030.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">In the simply named Laptop Room, CS and software engineering students and professors
            use this space to go through interactive lessons in which they are able to simultaneously write code as the professor guides them through the lesson.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/cce/christov.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Our collaborative classrooms support multiple teaching and learning styles,
            and feature the same powerful software and tools used by professionals.</p>
        </div>
      </div>
    </div>
  </div>
</div>
