<div class="sidenav">
  <a [routerLink]="['.']" fragment="overview">Overview</a>
  <a [routerLink]="['.']" fragment="tatorhall">Tator Hall</a>
  <a [routerLink]="['.']" fragment="cce">Center of Engineering & Communications</a>
</div>

<div id="overview" class="container p-3 mt-5 mb-5 bg-white rounded">
  <h1 class="text-center">Facilities</h1>

  <!--Overview section-->
  <h2 id="overview" class="text-center">Overview</h2>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
Our programs feature active, collaborative classrooms that support multiple teaching and learning styles, and feature the same powerful software and tools used by professionals. In the simply named Laptop Room, CS and software engineering students do more than stare at computer monitors, including bringing robots to life through the use of a neural network.</p>
    </div>
  </div>
</div>
<!--Tator Hall section-->
<div id="tatorhall" class="container p-3 mb-5 bg-white rounded">
  <h2 class="text-center">Tator Hall</h2>
  <carousel>
    <slide>
      <img src="../../assets/images/tatorhall/building.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/tatorhall/hallway.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/tatorhall/th107.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

  <!--Description-->
  <div class="row">
    <div class=" col-md-12">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <!--Cards-->
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/tatorhall/th107.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Tator Hall’s Active Classroom for Engineering offers 12 large, two-person tables for collaborative work in conjunction with dynamic lectures.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/tatorhall/th107.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Tator Hall’s Active Classroom for Engineering offers 12 large, two-person tables for collaborative work in conjunction with dynamic lectures.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/tatorhall/th107.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Our Community Room is open at all times for everything from studying and group project work to gaming in those CS and software engineering programs.</p>
        </div>
      </div>
    </div>

  </div>
  </div>

  <!--CCE section-->
  <div id="tatorhall" class="container p-3 mb-5 bg-white rounded">
  <h2 id="cce" class="text-center">Center of Communications & Engineering</h2>
  <carousel>
    <slide>
      <img src="../../assets/images/cce/ccebuilding3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/cce/ccebuilding2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/cce/cceclass.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

  <!--Description-->
  <div class="row">
    <div class=" col-md-12">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <!--Cards-->
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/cce/cceclass2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/cce/cce030.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/cce/christov.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
