<h3 style="text-align: center;">Program Curriculum</h3>
<table class="table">
  <thead>
    <th>Course Code</th>
    <th>Course Title</th>
    <th>Credits</th>
  </thead>
  <tbody>
    <tr>
      <td>FYS 101</td>
      <td>First-Year Seminar</td>
      <td>3</td>
    </tr>
    <tr>
      <td>EN 101</td>
      <td>Intro to Academic Reading and Writing</td>
      <td>3</td>
    </tr>
    <tr>
      <td>EN 102</td>
      <td>Academic Writing and Research</td>
      <td>3</td>
    </tr>
    <tr>
      <td>MA 205</td>
      <td>Intro to Discrete Mathematics</td>
      <td>3</td>
    </tr>
    <tr>
      <td>MA 141</td>
      <td>Calculus of a Single Variable</td>
      <td>3</td>
    </tr>
    <tr>
      <td>ENR 110</td>
      <td>The World of an Engineer</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
