<div class="bg-white mb-5 p-3 mt-5 col-md-11 rounded" style="margin: auto;">
<h1 style="text-align: center;">Program Curriculum</h1>
<h5>Note: a minimum grade of C- is required for all computer science and software engineering course prerequisites, unless otherwise stated.</h5>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <th>Course Code</th>
    <th>Course Title</th>
    <th>Credits</th>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.6679.html">FYS 101</a></td>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.6679.html">First-Year Seminar</a></td>
      <td>3</td>
    </tr>
    <tr>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.6635.html">EN 101</a></td>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.6635.html">Intro to Academic Reading and Writing</a></td>
      <td>3</td>
    </tr>
    <tr>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.6637.html">EN 102</a></td>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.6637.html">Academic Writing and Research</a></td>
      <td>3</td>
    </tr>
    <tr>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.1828.html">MA 205</a></td>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.1828.html">Intro to Discrete Mathematics</a></td>
      <td>3</td>
    </tr>
    <tr>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.5498.html">MA 141</a></td>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.5498.html">Calculus of a Single Variable</a></td>
      <td>3</td>
    </tr>
    <tr>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.5501.html">ENR 110</a></td>
      <td><a href="https://www.qu.edu/student-resources/course-finder/course.5501.html">The World of an Engineer</a></td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>
