<div class="sidenav">
  <a href="#the_program">Program Overview</a>
  <a href="#outcomes_obj">Outcomes and Objectives</a>
  <a href="#abet">ABET Accreditation</a>
</div>

<div id="the_program" class="container bordered" style="margin-left: 15%;">
  <!-- Carosel  -->
  <div>
    <h3 style="margin:auto; text-align: center;">Program Overview</h3>
    <br>
  <carousel>
    <slide>
      <img src="https://picsum.photos/200/100?image=0" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://picsum.photos/200/100?image=1" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://picsum.photos/200/100?image=2" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  <p>


  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; From operating systems and Internet browsers to gaming software and smartphone apps, software engineers construct and maintain the digital landscape in which we work and play. You’ll master such skills as coding, system design, quality assurance and testing, and we’ll teach you to manage projects and think creatively to prepare for a career as a programmer or software developer for a host of diverse companies and industries.
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our state-of-the-art facilities offer you a highly experiential and collaborative educational environment. The network systems and security classroom provides an ideal setting for active learning, whether working independently or with a group. During the design and implementation, you’ll work as part of a team to create, troubleshoot and solve the kinds of issues faced daily in your profession.
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You’ll acquire real-world experience through an internship or research project facilitated by the program’s collaboration with industrial and academic partners. The U.S. Bureau of Labor Statistics ranks software engineering among the top jobs in terms of pay, satisfaction and growth.
  </p>
  </div>
</div>
<div id="outcomes_obj" class="container bordered" style="margin-left: 15%;">
  <h3 style="text-align: center;">Outcomes and Objectives</h3>
  <h4>Outcomes</h4>
  <p><strong>Upon completion of the software engineering program students will have attained:</strong></p>
  <ul>
    <li>An ability to apply knowledge of mathematics, science, and engineering</li>
    <li>An ability to design and conduct experiments, as well as to analyze and interpret data</li>
    <li>An ability to design a system, component or process to meet desired needs within realistic constraints such as economic, environmental, social, political, ethical, health and safety, manufacturability, and sustainability</li>
    <li>An ability to function on multidisciplinary teams</li>
    <li>An ability to identify, formulate, and solve engineering problems</li>
    <li>An understanding of professional and ethical responsibility</li>
    <li>An ability to communicate effectively</li>
    <li>The broad education necessary to understand the impact of engineering solutions in a global, economic, environmental, and societal context</li>
    <li>A recognition of the need for, and an ability to engage in life-long learning</li>
    <li>A knowledge of contemporary issues</li>
    <li>An ability to use the techniques, skills, and modern engineering tools necessary for engineering practice</li>
  </ul>
  <h4>Objectives</h4>
  <p><strong>Within four to seven years after graduation, software engineering majors are expected to:</strong></p>
  <ul>
    <li>Be seen as models of ethical behavior in their profession and community</li>
    <li>Achieve sustained employment in a professional field and/or pursue additional educational opportunities</li>
    <li>Continue lifelong learning as they develop professionally and maintain currency with software engineering knowledge and skills</li>
    <li>Demonstrate professional and personal growth through leadership and mentoring roles</li>
  </ul>

</div>
<div id="abet" class="container bordered" style="margin-left: 15%;">
  <h3 style="text-align:center;">ABET Accreditation</h3>
  <p>
    &nbsp; Our software engineering program is accredited by the Engineering Accreditation Commission of ABET, meaning it meets the highest standards of engineering education. Its innovative combination of modern theory, interdisciplinary field projects and powerful internships builds the foundation necessary to launch a rewarding career.
  </p>
</div>
