<div class="faculty_profile">
  <h3>Ruby ElKharboutly</h3>
  <h4>Assistant Professor of Software Engineering</h4>

  <div class="row">
    <div class="col-md-8">
      <div>
        <h5>Education</h5>
        <p> </p>
      </div>
      <div>
        <h5>Bio</h5>
        <p> </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="" alt="Prof. Ruby"/>
    </div>
  </div>

  <h5>Contact</h5>
  <p></p>
</div>
<div class="faculty_profile">
  <h3>Stefan Christov</h3>
  <h4>Assistant Professor of Software Engineering</h4>

  <div class="row">
    <div class="col-md-8">
      <div>
        <h5>Education</h5>
        <p> </p>
      </div>
      <div>
        <h5>Bio</h5>
        <p> </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="" alt="Prof. Ruby"/>
    </div>
  </div>

  <h5>Contact</h5>
  <p></p>
</div>
<div class="faculty_profile">
  <h3>Jonathan Blake</h3>
  <h4>Assistant Professor of Software Engineering</h4>

  <div class="row">
    <div class="col-md-8">
      <div>
        <h5>Education</h5>
        <p> </p>
      </div>
      <div>
        <h5>Bio</h5>
        <p> </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="" alt="Prof. Ruby"/>
    </div>
  </div>

  <h5>Contact</h5>
  <p></p>
</div>
<div class="faculty_profile">
  <h3>Mark Hoffman</h3>
  <h4>Assistant Professor of Software Engineering</h4>

  <div class="row">
    <div class="col-md-8">
      <div>
        <h5>Education</h5>
        <p> </p>
      </div>
      <div>
        <h5>Bio</h5>
        <p> </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="" alt="Prof. Ruby"/>
    </div>
  </div>

  <h5>Contact</h5>
  <p></p>
</div>
