<div class="sidenav">
  <a [routerLink]="['.']" fragment="overview">Overview</a>
  <a [routerLink]="['.']" fragment="student1">Sam Smith</a>
  <a [routerLink]="['.']" fragment="student2">Max Thompson</a>
</div>

<ul class="nav nav-tabs container bg-white">
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link active" routerLink="/currentstudents">Current Students</a>
  </li>
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link" routerLink="/alumni">Alumni</a>
  </li>

</ul>

<div id="overview" class="container p-3 mb-5 bg-white rounded">
  <h1 class="text-center">Current Students</h1>

  <!--Overview section-->
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Our students are making great accomplishments and innovative projects in our Software Engineering program.
    </div>
  </div>
  </div>

  <!--Student 1 section-->
  <div id="student1" class="container p-3 mb-5 bg-white rounded">
  <h2 class="text-center">Sam Smith</h2>
  <h4 class="text-center">Aspirations in Computing Award</h4>
  <br />
  <div class="row">
    <div class= "mx-auto">
      <p class="lead">
        <strong>Hometown:</strong> Boston, Massachusetts
        <br /><strong>Minor:</strong> Psychology
        <br /><strong>Expected Graduation Date:</strong> May 2019
        <br /><strong>Extracurricular Activities:</strong> Softball, Computing Club, Big Event
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
  <img src="../../assets/images/studentspotlight/currentstudents/sam.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption">Class of '19, Software Engineering</figcaption>
</figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Through persistence and hard work, Sam has made a great achievement of winning the Aspirations in Computing award. The national contest is
        sponsored by tech companies like Microsoft, Apple and Bank of America.
        Sam hopes the contest award will help her start the next phase of her tech career at Ohio State.
        After graduation, she said she plans to stay in Ohio and pursue a software developer position at a start-up company.      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p class="text-center">
Sam's project, Euphoria, is a mental health study focusing on the potential effects of using virtual
 reality technology for treatment and relaxation. The project seeks to determine
  how virtual reality may be utilized for mental health treatments by inducing euphoric
  feelings through various interactions such as touch-induced wings, flight, and exploration of a virtual world.      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/currentstudents/vr.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Peer trying Sam's project, Euphoria.</figcaption>
    </figure>
      </div>
  </div>
</div>
  <!--Student 2 section-->
  <div id="student2" class="container p-3 mb-5 bg-white rounded">
  <h2  class="text-center">Max Thompson</h2>
  <h4 class="text-center">Activision Internship</h4>
  <br />
  <div class="row">
  <div class= "mx-auto">
    <p class="lead">
      <strong>Hometown:</strong> Hamden, Connecticut
      <br /><strong>Minor:</strong> Mathematics
      <br /><strong>Expected Graduation Date:</strong> May 2020
      <br /><strong>Extracurricular Activities:</strong> QUESO, Gaming Club, SPB
    </p>
  </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/currentstudents/max.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Class of '20, Software Engineering</figcaption>
    </figure>
      </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Max, an avid gamer, landed his dream internship at his favorite video game publisher company, Activision. The internship
        was a 12-week program where Max was placed on a team and worked on a project for an upcoming game. The program provided him housing
        and compensation for traveling expenses since he relocated to California for the summer.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p class="text-center">
      "As an intern, you get to attent different networking events such as baseball games, studio visits, community service, hiking, movie nights, dinners, and an E3 mixer," says Max.
    Max also recieved many perks such as branded company giveaways and discounted copies of their games. Max hopes to go back to Activision to work as a full-time employee.
    </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/currentstudents/activision.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Activision Office</figcaption>
    </figure>
      </div>
  </div>
</div>

  <!--End of student sections -->
