<div class="sidenav">
  <a [routerLink]="['.']" fragment="overview">Overview</a>
  <a [routerLink]="['.']" fragment="student1">Sam Smith</a>
  <a [routerLink]="['.']" fragment="student2">Dana Thompson</a>
</div>

<ul class="nav nav-tabs container bg-white">
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link active" routerLink="/currentstudents">Current Students</a>
  </li>
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link" routerLink="/alumni">Alumni</a>
  </li>

</ul>

<div id="overview" class="container p-3 mb-5 bg-white rounded">
  <h1 class="text-center">Current Students</h1>

  <!--Overview section-->
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Read about the many accomplishments and projects made by students in our Software Engineering program.
    </div>
  </div>
  </div>

  <!--Student 1 section-->
  <div id="student1" class="container p-3 mb-5 bg-white rounded">
  <h2 class="text-center">Sam Smith</h2>
  <h4 class="text-center">Microsoft Scholarship</h4>
  <br />
  <div class="row">
    <div class= "mx-auto">
      <p class="lead">
        <strong>Hometown:</strong> Boston, Massachusetts
        <br /><strong>Minor:</strong> Mathematics
        <br /><strong>Expected Graduation Date:</strong> May 2019
        <br /><strong>Extracurricular Activities:</strong> Baseball, Computing Club, Big Event
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
  <img src="../../assets/images/studentspotlight/currentstudents/tomsmith.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption">Class of '19, Software Engineering</figcaption>
</figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/currentstudents/code.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Sam's Project</figcaption>
    </figure>
      </div>
  </div>
</div>
  <!--Student 2 section-->
  <div id="student2" class="container p-3 mb-5 bg-white rounded">
  <h2  class="text-center">Dana Thompson</h2>
  <h4 class="text-center">Perfusion Patient Simulator</h4>
  <br />
  <div class="row">
  <div class= "mx-auto">
    <p class="lead">
      <strong>Hometown:</strong> Hamden, Connecticut
      <br /><strong>Minor:</strong> Business
      <br /><strong>Expected Graduation Date:</strong> May 2020
      <br /><strong>Extracurricular Activities:</strong> Dance Company, Society of Women Engineers, SPB
    </p>
  </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/currentstudents/dana.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Class of '20, Software Engineering</figcaption>
    </figure>
      </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <figure class="figure">
    <img src="../../assets/images/studentspotlight/currentstudents/perfusion.jpg" class="figure-img img-fluid rounded studentimg" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">Perfusion Patient Simulator</figcaption>
    </figure>
      </div>
  </div>
</div>

  <!--End of student sections -->
