<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-navy">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/qu-logo.png" alt="qu-logo" width="200" height="68" />
    <span style="font-size:18pt;"> Software Engineering</span>
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navbarOpen } ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <a class="nav-link" href="#">Program Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Faculty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Curriculum</a>
      </li>
      <li class="nav-item" role="presentation" routerLinkActive="active">
        <a class="nav-link" routerLink="facilities">Facilities</a>
      </li>
      <li class="nav-item dropdown" role="presentation" routerLinkActive="active">
        <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student Spotlight</a>
        <div class="dropdown-menu" aria-labelledby="studentspotlightmenu">
                  <a class="dropdown-item nav-link" routerLink="currentstudents">Current Students</a>
                  <a class="dropdown-item nav-link" routerLink="alumni">Alumni</a>
                </div>
      </li>
      <li class="nav-item" role="presentation" routerLinkActive="active">
        <a class="nav-link" routerLink="ourwork">Our Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Apply Now</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer font-small text-white bg-navy">
 <div class="footer-copyright text-center py-3">© 2018 Copyright: Quinnipiac University</div>
</footer>
