<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-navy">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/qu-logo.png" alt="qu-logo" width="200" height="68" />
    <span style="font-size:18pt;"> Software Engineering</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Program Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Faculty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Curriculum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Facilities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Student Spotlight</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Apply Now</a>
      </li>
    </ul>
  </div>
</nav>

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>

<router-outlet></router-outlet>

<footer class="page-footer font-small text-white bg-navy">
 <div class="footer-copyright text-center py-3">© 2018 Copyright: Quinnipiac University</div>
</footer>
